body{
    background-color: coral;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: Animation;
    animation-duration: 6s;
    margin-top: 80px;
    animation-iteration-count: infinite;
}
#show_sketch{
    float: left;
    margin-left: 20px;
}
